

<h1> All Lip Gloss </h1>

\ Youre so Glossy! \ <%= link_to "Add a New Gloss", {:action => 'new' }%> \ 

<div class="form">  
   <hr>
   <ul>
      <% @lip_glosses.each do |c| %>
      <li > Name: <%= link_to c.name, {:action => 'show', :id => c.id} %> </li>
      
       <li> Price: $<%= c.price %> </li>
      
      <li>
      <%= link_to "Show Lip Gloss", lip_gloss_path(c.id) %> 
      
      <%= link_to "Edit #{c.name}", edit_lip_gloss_path(c.id) %>
      <%= link_to 'Delete', lip_gloss_path, method: :delete %> #-> @lip_gloss doesn't exist %>

     </li>
      </div>
      
    
   <hr>
 
 
   </ul>
    <% end %>
      

</div>

