<center><p> <%= flash[:notice] if flash %></p></center>
<div class="jumbotron vertical-center">
<div class="container">
  <h1 class="display-4">- All Lip Glosses- </h1>
  <p class="lead">




\ <%= link_to "Add a New Gloss", {:action => 'new' }%> \ 


   <hr>

      <% @lip_glosses.each do |c| %>
   <h2>Name: </h2><%= c.name %>
      <hr>
   <h2>Price:</h2>$<%= c.price %> 
      
  <hr>
      <%= link_to "Show Lip Gloss", lip_gloss_path(c.id) %> 
   

   <hr>
      <%= link_to "Edit", edit_lip_gloss_path(c.id) %>
      
<hr>
   
<%= button_to "Delete", lip_gloss_path(c), :confirm => "Are you sure?", :method => :delete %>


    <hr>
    <hr>
   
    <% end %>
 
<hr>

</div>
</div>
   
      

   