<center><p> <%= flash[:notice] if flash %></p></center>
<div class="jumbotron vertical-center">
<div class="container">
  <h1 class="display-4">- All Lip Glosses- </h1>
  <p class="lead">

  <% if @lip_gloss_path.present? %>
  <%= render @lipglosses %>
<% else %>
<% end %>

  <%= form_tag(lip_glosses_path, :method => "get", id: "search-form") do %>
   <%= text_field_tag :search, params[:search], placeholder: "Search Lip Glosses" %>
   <%= submit_tag "Search" %>
   <% end %>

   <hr>
   <hr>

| <%= link_to "Add a New Gloss", {:action => 'new' }%> |
| <%= link_to "All Glosses", lip_glosses_path %> |

   <hr>

      <% @lip_glosses.each do |c| %>
   <h2>Name: </h2><%= c.name %>
      <hr>
   <h2>Price:</h2>$<%= c.price %> 
   <h2>Belongs to the User - <%= c.user.username %></h2>
 
  <hr>
      <%= link_to "Show Lip Gloss", lip_gloss_path(c.id) %> 
   

   <hr>
      <%= link_to "Edit", edit_lip_gloss_path(c.id) if c.user_id == session[:user_id] %>
      
<hr>
   
<%= button_to "Delete", lip_gloss_path(c),:confirm => "Are you sure?", :method => :delete if c.user_id == session[:user_id] %>

    <hr>
    <hr>
   
    <% end %>
 
<hr>

</div>


</div>
   
      

   