<h1><%= @lip_gloss.name %></h1>


<div class="form"> 

   <strong>Price: </strong> $<%= @lip_gloss.price %><br />

<%= link_to "Edit #{@lip_gloss.name}", edit_lip_gloss_path(@lip_gloss) %>




<% @reviews.all.each do |c| %>
     <h5>Comment - <%= c.comment %></h5>
   <h5> Created-at <%= c.created_at %></h5>
   <hr>
   <% end %> 
   <%= link_to  "View reviews", lip_gloss_reviews_path(@lip_gloss) %>



</div>
