
<div class="jumbotron vertical-center">
<div class="container">
  <h1 class="display-4"><h1>-<%= @lip_gloss.name %>-</h1>
  <p class="lead">



   <strong>The Price of the Gloss </strong> $<%= @lip_gloss.price %><br>
   <h3>Belongs to the User - <%= @lip_gloss.user.username %></h3>

<br>

<% @reviews.all.each do |c| %>
     <h5>Comment - <%= c.comment %></h5>
   <h5> Created-at <%= c.created_at %></h5>
   <% end %> 
   <%= link_to  "View review for this Gloss", lip_gloss_reviews_path(@lip_gloss) %>


</div>
</div>
