<%= form_for(@review) do |f|%>
    <% if params[:lip_gloss_id] %>
      <%= f.hidden_field :lip_gloss_id %>
    <% else %>
    <br>
      <div>
        <%= f.label :lip_gloss_id, "Select The Gloss" %>
        <hr>
        <%= f.collection_select :lip_gloss_id, LipGloss.all, :id, :name, include_blank: true %>
      </div>
    <% end %>
    <div>
    <br>
      <%= f.label :purchase %>
      <hr>
      <%= f.select :purchase, [["Yes", true], ["No", false]], :include_blank => true %>
    </div>
    <br>
    <div>
      <%= f.label :comment %>
      <hr>
      <%= f.text_field :comment, size: "23x432" %>
    </div>
    <br>
    <br>
  
  
  
    <%= f.submit %>
  
  <% end %>