
<% if @lip_gloss %>
<h1>Reviews for <%= @lip_gloss.name%> - <%= @lip_gloss.name_of_sponsor%></h1>
<% else %>
<h1>All the Reviews </h1>
<% end %>

     <ul>

     <% @reviews.each do |r| %>
     <li >
     <h2><%= r.lip_gloss.name %></h2>
     <p> Would your purchase this lip gloss? <br> <%= r.purchase.humanize%><p>
     <p>Comments about the lip gloss: <br> <%= r.comment %></p>
     <p> Created-at <%= r.created_at %></p>
     <hr>
    </li>
      <% end %>
    </ul>
   

 </div>