<header class='clearfix'>
  <% if session[:user_id] %>
  <hr>
    <ul>
    <%= link_to 'logout', logout_path, :method => :delete %> |
    <%= link_to "new gloss", new_lip_gloss_path %> |
    <%= link_to "all glosses", lip_glosses_path %> |
    <%= link_to "new review", new_review_path %> |
    <%= link_to "all reviews", reviews_path %> |
    <%= link_to "all sponsors", sponsors_path %> |
    
    </ul>
  </div> 
  
  <% end %>
</header>